html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.navbar {
	margin: 0;
}

body {
  padding-top: 50px;
}

#main {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	display: -webkit-flex;
}

#left {
	width: 50%;
}

#left td {
	padding-left: 2px;
	padding-right: 0px;
}

#splitter {
	width: 6px;
	background-color: #ccc;
	cursor: col-resize;
}

#right {
	flex: 1;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
