<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>NodeHttpWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <script type="text/javascript" src="/js/vendor.js"></script>
    <script type="text/javascript" src="/js/polyfill.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="main" class="container">
        <div id="left">
            <table id="records-table" class="table table-striped">
            </table>
        </div>
        <div id="splitter"></div>
        <div id="right">
            <label for="text-url">URL</label>
            <textarea id="text-url" type="text" class="form-control" placeholder="..."></textarea>

            <label for="text-request-headers">Request headers</label>
            <textarea id="text-request-headers" type="text" class="form-control" placeholder="..."></textarea>

            <label for="text-request-body">Request body</label>
            <textarea id="text-request-body" type="text" class="form-control" placeholder="..."></textarea>

            <label for="text-request-headers">Response headers</label>
            <textarea id="text-response-headers" type="text" class="form-control" placeholder="..."></textarea>

            <label for="text-request-headers">Response body</label>
            <!--textarea id="text-response-body" type="text" class="form-control" placeholder="..."></textarea -->
            <div id="response-box">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" data-decode="plain" class="active"><a href="#response-plain" aria-controls="response-plain" role="tab" data-toggle="tab">Plain</a>
                    </li>
                    <li role="presentation" data-decode="image"><a href="#response-image" aria-controls="response-image" role="tab" data-toggle="tab">Image</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="response-plain">
                        <textarea type="text" class="form-control" placeholder="..."></textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="response-image">
                        <img />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/template" id="tpl-record">
    <tr id="record-<%- id %>">
        <td class="start">
            <%- start %>
        </td>
        <td class="elapse"></td>
        <td class="method">
            <%- method %>
        </td>
        <td class="code"></td>
        <td class="host">
            <%- hostname %>
        </td>
        <td>
            <a href="javascript:void(0);" class="path">
                <%- path %>
            </a>
        </td>
    </tr>
</script>
<script type="text/javascript" src="/js/index.js"></script>

</html>
